body {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  height: 100vh;             /* full viewport height */
  margin: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-image: url("japanese-lantern-5568727_1280.jpg");
  padding-top: 50px;
}

.main{
  text-align: centre;
}

h1 {
  color: #ffffff;
  font-size: 3em;
}

#fortune {
  margin: 30px auto;
  padding: 20px;
  border: 3px solid #b22222;
  border-radius: 10px;
  width: 300px;
  font-size: 1.5em;
  background-color: #fff0f5;
}

button {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: #b22222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a00000;
}
